.account-overview {
    width: 100%;
    max-width: 41.25rem;
    min-width: 22.5rem;
    padding: 1.25rem;
    box-sizing: border-box;

    color: #494647;

    > .head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        > .title {
            font-size: 1.5rem;
            text-transform: capitalize;
            min-height: 2.5rem;
        }

        > .account-contact {
            min-width: 18.75rem;
            max-width: 60%;
        }

        @media screen and (max-width: 768px) {
            flex-direction: column;

            > .title {
                font-size: 1.2rem;
            }
            > .account-contact {
                > .title {
                    align-self: center;
                }
            }
        }
    }
}
