.account-sales {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    position: relative;

    background-color: #fff;

    > .info {
        position: absolute;
        right: 1rem;
        top: 1rem;
        color: #beb9ba;
    }

    > .title {
        font-weight: bold;

        > .upload {
            color: #11afe7;
            margin-right: 0.5rem;
        }
    }

    > .message {
        margin-top: 1rem;
        font-size: 0.9rem;
        color: #606060;
    }
}
